@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
scroll-behavior: smooth;
font-family: 'Roboto', sans-serif;
--text-color: rgb(101, 101, 101);
}