

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
    outline: none; border: none;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    --text-color: rgb(101, 101, 101);
}


