.header {
    display: block;

}

.header .logo img {
    height: 3.5rem;
}


@media(min-width:491px) {
    
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 20px;
    margin-bottom: 20px;
     
}

.header .logo img {
    height: 3.5rem;
}


.header .navbar a:hover {
    color: rgb(184, 12, 12);
    border-bottom: .1rem solid rgb(184, 12, 12);
    padding-bottom: .5rem;
}

.header .header-icon img {
    color: rgb(246, 26, 26);
    cursor: pointer;
    font-size: 3.4rem;
    margin-left: .5rem;
}

.header .header-icon img:hover {
    color: rgb(103, 77, 119);
}

.product-list-text {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

}