
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.logo-image {
    height: 3.5rem;
}

.header-icon {
    display: flex;
    justify-content: space-around;
 
}

.main-navbar :hover {
    color: rgb(184, 12, 12);
    border-bottom: .1rem solid rgb(184, 12, 12);
    padding-bottom: .5rem;
}

.header-icon img {
    color: rgb(246, 26, 26);
    cursor: pointer;
    font-size: 3.4rem;
    margin-left: .5rem;
}

.product-list-text {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.burger {
    width: 30px;
    height: 25px;
    position: relative;
    display: none;
    padding: 0;
    background-color: transparent;

}

.burger__span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger--active .burger__span {
    opacity: 0;

}

.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}
.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}

.stop-scroll {
    overflow: hidden;
}

@media (max-width: 1014px) {
    .header__container {
        overflow-x: hidden;
    }

    .navbar {
        position: fixed;
        top: 100px;
        right: 1;
        z-index: 1000;
        background-color: white;
        padding: 30px;
        width: 100%;
        transform: translateY(-120%);
        transition: transform 0.6s ease-in-out ;
        height: calc(250vh - 100px);
        overflow-y: auto;
        display: block;
    }

    .navbar--visible {
        transform: none;
    }

    .main-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .product-list-text {
        margin-bottom: 20px;
    }

    .product-list-text {
        font-size: 16px;
        font-weight: 700;
    }

    .header-icon {
        justify-content: center;
        padding: 50px;
    }
    
    .burger {
        display: block;
    }

    .social_network_icon {
        margin-left: 10px;
        margin-right: 10px;

    }

}


