
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 3.5rem;
}

.header .navbar a {
    margin: 0.5rem;
    font-size: 16px;
    color: rgb(101, 101, 101);
    font-weight: bold;
}

.header .navbar a:hover {
    color: rgb(184, 12, 12);
    border-bottom: .1rem solid rgb(184, 12, 12);
    padding-bottom: .5rem;
}

.header .header-icon img {
    color: rgb(246, 26, 26);
    cursor: pointer;
    font-size: 3.4rem;
    margin-left: .5rem;
}

.header .header-icon img:hover {
    color: rgb(103, 77, 119);
}


/*Media queries */
@media(max-width:991px) {
   
    .header {
        padding: 1.5rem 2rem;
    }
}