
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-image {
    height: 3.5rem;
}

.header-icon {
    display: flex;
    justify-content: space-around;
}

.main-navbar :hover {
    color: rgb(184, 12, 12);
    border-bottom: .1rem solid rgb(184, 12, 12);
    padding-bottom: .5rem;
}

.header-icon img {
    color: rgb(246, 26, 26);
    cursor: pointer;
    font-size: 3.4rem;
    margin-left: .5rem;
}

.product-list-text {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.burger {
    width: 30px;
    height: 25px;
    position: relative;
    display: none;
    padding: 0;
    background-color: transparent;

}

.burger__span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

@media (max-width: 1014px) {
    .navbar {
        position: fixed;
        top: 100px;
        right: 1;
        z-index: 1000;
        background-color: white;
      

    }

    .main-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .product-list-text {
        margin-bottom: 20px;
    }

    .header-icon {
        display: none;
    }
    
    .burger {
        display: block;
    }



}


