

.img_carousel {
    width: 242px;
    height: 103px;
}
.products-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 142px;
    padding: 30px;

}

.prev__button {
    width: 36px;
    height: 48px;
    background-color: rgb(34, 34, 34);
}