.sectionabout {
    display: block;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.image__about {
    width: 100%;
    height: 400px;
}

.about_heading {

}

.main__about {
    color: #c00407;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    margin-top: 30px;
}

.submain__about {
    color: rgba(34, 34, 34);
    font-size: 37px;
    font-family: Poppins, sans-serif;
    margin-bottom: 25px;
}

.red-icon {
    display: inline;
    width: 20px;
    height: 24px;
    margin-right: 15px; 
}

.describe__about {
    color: rgba(101, 101, 101);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}

.main-text__about {
    color: rgba(140, 140, 140);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: left;
    margin-bottom: 30px;
}

.benefits {
    display: flex;
}

.headertext__benefits {
    font-weight: bold;
    color: rgba(34, 34, 34);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin-bottom: 15px;
}

.main-text__about {
    color: rgba(140, 140, 140);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5;
}

@media (min-width: 770px) {
    
.sectionabout {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

}

.image__about {
    height: 590px;
    width: 580px;
    border-radius: 10px;
    
}

.red-icon {
    display: inline;
    width: 20px;
    height: 24px;
    margin-right: 15px; 
}

.about_heading {
    width: 600px;
    box-sizing: border-box;
    margin-left: 35px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

.main__about {
   color: #c00407;
   text-transform: uppercase;
   font-size: 12px;
   margin-bottom: 20px;
   text-align: left;
   font-family: Roboto;
   font-weight: 700;
   margin-top: 30px;
}

h2 {
    color: rgba(34, 34, 34);
    font-size: 37px;
    font-family: Poppins, sans-serif;
    margin-bottom: 25px;
}

.describe__about {
    color: rgba(101, 101, 101);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}

.main-text__about {
    color: rgba(140, 140, 140);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: left;
    margin-bottom: 30px;
}

.headertext__benefits {
    font-weight: bold;
    color: rgba(34, 34, 34);
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.main-text__about {
    color: rgba(140, 140, 140);
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.benefits {
    display: flex;
}

.main-text__about {
    line-height: 1.5;
}

.subbenefits {
    line-height: 1.2;
}

.headertext__benefits {
    line-height: 1.2;
}

/* Under about */



.coffee-beans__image {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 368px;
    gap: 25px;
    
}
.indulgo-image {
    background-image: url(../img/sectionabout/Indulgo.png);
    background-size: 100% 100%;
    width: 90%;
    height: 328px;
    text-align: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 10px;
    margin-left: 40px;
    margin-top: 70px;
 
}


.espresso-image {
    background-image: url(../img/sectionabout/CoffeeBeans.png);
    margin-top: 70px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 328px;
    margin-right: 45px;
    border-radius: 20px;
    padding: 45px;
}

.maintext_indulgo {
    font-size: 37px;
    color: rgba(34, 34, 34);
    font-family: Poppins, sans-serif;
    margin-top: 40px;

}

.main__z {
    color: rgb(192 4 7);
}

.aboutline {
    color:  rgb(192 4 7);
    width: 9%;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.indulgo_paragraph{
    color: rgba(41, 40, 40, 0.8);
    font-size: 16px;
    font-family: Roboto;
}

.maintext_cb {
    font-family: Poppins, sans-serif;
    color: rgb(255 255 255);
    font-size: 37px;
   
}

.cb_paragraph {
    color: rgb(255 255 255);
    font-family: Poppins, sans-serif;
    font-size: 22px;
    margin-top: 40px;
}

.main__cb {
    color: rgb(192 4 7);
    font-size: 37px;
}

.pfeil {
    color: rgb(192, 4, 7);
    font-size: 12px;
}

.espresso_order {
     color: rgb(255, 255, 255);
     font-size: 12px;
     margin-top: 30px;
}

}