.home {
    height: 150vh;
    display: flex;
    align-items: center;
    background-image: url(../img/header_img/header-bg.png);
    background-size: cover;
    background-position:  210px 0;
    background-repeat: no-repeat, repeat;
    background-color: rgb(172,142,126)

   
 
}

.home .background_image {
    max-width: 60rem;
}

.home .background_image .rental {
    font-size: 4rem;
    text-transform: uppercase;
}