.home {
    height: 150vh;
    display: flex;
    align-items: flex-start;
    background-image: url(../img/header_img/header-bg.png);
    background-size: cover;
    background-position:  210px 0;
    background-repeat: no-repeat, repeat;
    background-color: rgb(172,142,126);
    padding: 9rem 4%;

}

.rental {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(223,223,223);
    height: 19.19px;
    width: 360.6px;
    box-sizing: border-box;
    margin-top: 5rem;
    margin-bottom: 2rem;

}

.main__text__home {
    font-size: 6rem;
    font-weight: 900;
    color: rgb(255 255 255);
    font-size: 63px;
    transition: .2s linear;
}

.text__home {
    color: rgb(192, 4, 7);
    font-weight: 700;
    font-weight: bolder;
}

.subheading__text__home {
    color: rgb(223,223,223);
    font-size: 17px;
    box-sizing: border-box;
    margin-top: 21px;
    margin-bottom: 78px;
}

.banner__button {
    background-color: rgb(192, 4, 7);
    padding: 19px 36px;
    color: rgb(255 255 255);
    font-weight: bolder;

}

.banner__button :hover {
    background-color: rgb(34,34,34);
    cursor: pointer;
}



/*underhome*/


.underhome { 
    
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

h3 {
    font-family: Poppins SemiBold;
    font-weight: bolder;
    font-size: 22px;
}

.feature__text {
    color: rgb(140,140,140);

}

.feature__image {
    width: 50px;
    height: 50px;
}

.feature {
    display: flex;
    justify-content: space-between;
}

.feature_text-block {
    margin-left: 15px;
    max-width: 284px;
}

.feature__title {
    margin-bottom: 15px;
    font-size: 22px;
    margin-bottom: 24px;
}

.feature__text {
    font-size: 16px;
    line-height: 25.6px;
    font-family: var(--font-family);
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 50px;
}

@media (min-width:750px) { 
    .underhome {
        padding-left: 90px;
        padding-right: 90px;
        display: flex;
        box-sizing: border-box;
        border: .1 solid red;
    }

    .section__title {
        font-size: 42px;
    }

    .feature-container {
        display: flex;
        justify-content: space-between;
    }

    .welcome__description {
        margin-bottom: 58px;
    }

    .feature__image {
        width: 70px;
    }
    
}